<!doctype html>
<body>
    <h1 align="center">Tic-Tac-Toe Game</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <center>X: {{ game.player1_name }}</center>
    <center>O: {{ game.player2_name }}</center>

    {% if game.winner == None and game.turn == 9 %}
        <h3 align="center">Draw!</h3>
    {% elif game.winner != None %}
        <h3 align="center">{{ game.winner}} Wins!</h3>
    {% endif %}

   <table class="board">
    {% for row in TTTboard %}
        <tr>
        {% for cell in row %}             
            {% if cell == 'X' %}
                <td class="cell"><img src="static/cross.png" width="50" id="cross"/></td>
            {% elif cell == 'O' %}
                <td class="cell"><img src="static/circle.png" width="48" id="circle"/></td>
            {% elif cell == None %}
                <td class="cell"></td>
            {% endif %}             
        {% endfor %}
        </tr>
    {% endfor %}
    </table> 

</body>