<!doctype html>
<body>
    <h1 align="center">Tic-Tac-Toe Game</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <center>X: {{ game.player1_name }}</center>
    <center>O: {{ game.player2_name }}</center>
    game turn: {{ game.turn }}<br>
    {% if game.player1_turn == 1 %}
        <h3 align="center">{{ game.player1_name }}'s Turn</h3>
    {% elif game.player1_turn == 0 %}
        <h3 align="center">{{ game.player2_name}}'s Turn</h3>
    {% endif %}
    
   <table class="board">
    {% for row in TTTboard %}
        <tr>
        {% for cell in row %}             
            {% if cell == 'X' %}
                <td class="cell"><img src="static/cross.png" width="50" id="cross"/></td>
            {% elif cell == 'O' %}
                <td class="cell"><img src="static/circle.png" width="48" id="circle"/></td>
            {% elif cell == None %}
                <td class="cell"></td>
            {% endif %}             
        {% endfor %}
        </tr>
    {% endfor %}
    </table> 

    <form action="" method="POST">
        Your chioce: <input type="text" name="position"> (Please enter a number in 1~9)
        <br>
        <input type="submit" value="Submit">
    </form>
</body>